/* Основний колір тексту (абз.) #757575 */

/* Вторинний колір тексту #212121 */

/* Studio #000000; */

/* h1 + Studio + button #ffffff; */

/* Акцент + button + Web #2196F3; */

/* Цвет button active #188CE8; */

/* footer rgba(255, 255, 255, 0.6); */

/* Основний колір фону #ffffff; */

/* Вторинний колір фону #2F303A */

/* Колір верхньої лінії #ECECEC */

/* Колір кнопок фільтру портфоліо + Колір фону Наша команда #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #fff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --rare-text-color: #000;
  --accent-color: #2196f3;
  --button-active-color: #188ce8;
  --primary-bgc: #fff;
  --secondary-bgc: #2f303a;
  --team-bgc: #f5f4fa;
  --decorativ-line-color: #ececec;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
}

/* <!-- Шапка сайту -- >  */
.logo {
  color: var(--rare-text-color);
}

.logo-part {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* <!-- Герой --> */
.hero {
  background-color: var(--secondary-bgc);
}

.hero-title {
  color: var(--secondary-text-color);
}

/* <!-- Секція Особливості --> */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  color: var(--title-text-color);
}

.section .subtitle {
  color: var(--title-text-color);
}

/* <!-- Секція Наша команда --> */
.section.team {
  background-color: var(--team-bgc);
}

.team.list {
  background-color: var(--primary-bgc);
}
/* <!-- Підвал --> */
.footer {
  background-color: var(--secondary-bgc);
}

.footer .logo {
  color: var(--secondary-text-color);
}

.address .post {
  color: var(--secondary-text-color);
}

.address .post:hover,
.address .post:focus {
  color: var(--accent-color);
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* Кнопки */
.button {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
}

.button.hero {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.button.hero:hover,
.button.hero:focus {
  background-color: var(--button-active-color);
}

.button.primary {
  color: var(--title-text-color);
  background-color: var(--team-bgc);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
